{% extends "base.html" %}

{% block nav %}{% endblock %}

{% block content %}
	<div class="ym-grid ym-equalize landing linearize-level-2">
		<div class="ym-g20  ym-gl">
			<div class="ym-gbox">
			<br/>
			</div>
		</div>

		<article class="ym-g20  ym-gl">
			<div class="ym-gbox">
			<h2>Articles</h2>
			<p>Blog entries.</p>
			<a class="ym-button ym-next" href="/blog/">Continue to Articles</a>
			</div>
		</article>

		<article class="ym-g20 ym-gl">
			<div class="ym-gbox">
			<h2>Books</h2>
			<p>Python book reviews.</p>
			<a class="ym-button ym-next" href="/books/">Continue to Reviews</a>
			</div>
		</article>

		<article class="ym-g20 ym-gl">
			<div class="ym-gbox">
			<h2>Feeds</h2>
			<p>RSS feeds of interest.</p>
			<a class="ym-button ym-next" href="/feeds/">Continue to Feeds</a>
			</div>
		</article>

		<div class="ym-g20 ym-gl">
			<div class="ym-gbox">
			<br/>
			</div>
		</div>
	</div>
{% endblock %}
