{% extends "base.html" %}
{% block nav %}{% endblock %}

{% block content %}
				<div class="ym-grid ym-equalize">
						<div class="ym-g20  ym-gl">
								<br/>
						</div>

						<article class="ym-g20  ym-gl">
								<h2>Articles</h2>
								<p>Newest blog entries.</p>
								<a class="ym-button ym-next" href="#">Read More</a>
						</article>

						<article class="ym-g20 ym-gl">
								<h2>Books</h2>
								<p>Review of python books.</p>
								<a class="ym-button ym-next" href="#">Read More</a>
						</article>

						<article class="ym-g20 ym-gl">
								<h2>Feeds</h2>
								<p>RSS feeds of interest.</p>
								<a class="ym-button ym-next" href="#">Read More</a>
						</article>

						<div class="ym-g20 ym-gl">
								<br/>
						</div>
				</div>
{% endblock %}
